.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.title {
  text-align: center;
  margin-bottom: 1.5rem;
  color: var(--dark-gray);
  font-size: 1.5rem;
}
